# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Rider
*.DotSettings.user

# Cache
.gradle/

# Crash reports
sysinfo.txt
mono_crash.*

# Logs
*.log